<section class="px-4 py-12 md:px-6 ">
  <div class="container grid items-center gap-12 mx-auto">
    <div class="space-y-2">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl text-black dark:text-white text-balance">
        ¿Listo para comenzar tu viaje?
      </h2>
      <p class="max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400 text-pretty">
        Aprovecha esta oportunidad única para romper las barreras geográficas y descubrir un estilo de vida que te permita trabajar desde cualquier lugar del mundo.
      </p>
    </div><div class="flex flex-col gap-2 min-[400px]:flex-row">
    </div>
  </div>
</section>