<section class="w-full py-10 md:py-48">
  <div class="container px-4 mx-auto md:px-6">
    <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
      <img
        src="/globe.webp"
        height="550"
        alt="Hero"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-bottom sm:w-full lg:order-last object-cover"
      />

      <div class="flex flex-col justify-center space-y-4">
        <div class="space-y-2">
          <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none mb-8 text-balance text-black dark:text-white">
            Descubre Cursos para Trabajar y Viajar por el Mundo
          </h1>

          <p class="max-w-[600px] text-gray-500 md:text-xl dark:text-gray-400 text-pretty">
            Bienvenidos, amantes de la aventura y del trabajo sin fronteras. ¿Alguna vez has soñado con recorrer el mundo mientras ganas dinero? ¿Te emociona la idea de trabajar desde una playa paradisíaca, una cafetería en una ciudad cosmopolita o incluso desde las alturas de una montaña nevada? Si es así, has llegado al lugar indicado.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>